$font-family-1:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-size-1:30px;
$font-size-2:15px;
$font-weight-1:900;
$white:white;
$red:rgb(253, 82, 82);
$black:black;